.titulo-contacto {
    @include container;
    margin-top: 30px;
    font-size: 2rem;
    margin-bottom: 30px;
}

.subtitulo-contacto {
    width: 80%;
    margin: 0 auto;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.segunda-seccion__centrado {
    @include container;
    @include centrado;
}

.segunda-seccion {
    @media (max-width: 600px) {
    display: none
    }
}

form {
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    margin-bottom: 60px;
    @media (max-width: 400px) {
        font-size: 1.5rem;
    }
        label {
        margin-top: 20px;
        margin-bottom: 20px;
        }
            legend {
            color: white;
            background-color: black;
            padding: 10px;
            border: gold;
            border-radius: 20px;
            border-style: dotted;
            }
                fieldset {
                background-color: #B28228;
                border-color: #ffe002;
                border-radius: 20px;
                padding: 20px;
                @media (max-width: 400px) {
                    padding: 15px;
                }
                }
                    input {
                    margin: 10px;
                    @media (max-width: 400px) {
                        margin: 0 auto;
                    }
                    }
                        textarea {
                        width: 60%;
                        border-radius: 10px;
                        @media (max-width: 400px) {
                            width: 90%;
                            border-radius: 5px;
                        }
                        }
}        