.carousel {
    .active {
        border-bottom: none;
    }
}

.imagen-carousel{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    position: center center;
    @media (max-width: 480px) {
        height: 50vh;
    }
}

.seccion-dos {
    @include container; 
    margin-top: 5%;
    margin-bottom: 5%;
    @media (max-width: 480px) {
        width: 80%;
        margin: 0 auto;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    h2 {
    font-size: 2.5rem;
    text-decoration: underline;
    @media (max-width: 480px) {
        font-size: 2rem;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    }
}

.seccion-dos__subtitulo {
    text-align: center;
    font-size: 1.5rem;
    @media (max-width: 480px) {
        font-size: 1.3rem;
    }
}

.container-grid {
    display: grid;
    grid-template-columns: 2fr 30% 2fr;
    margin-top: 20px;
    margin-bottom: 40px;  

    @media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    display: grid;
    justify-content: space-around;
    justify-items: center;  
    grid-template-columns: 100%;
    grid-gap: 30px;
    }
    
    .container-grid__img1 {
    @include container;
    padding: 5px;
    border-radius: 5px;
    justify-self: center;
    }

    .container-grid__img2 {
    width: 70%;
    justify-self: center;
    }

    .container-grid__img3 {
    @include container;
    padding: 5px;
    justify-self: center;
    }
}

.seccion-dos__boton {
    @include boton;
    @include centrado;
    @media (max-width: 480px) {
        margin-top: 10%;
        margin-bottom: 10%;
        padding: 10px;
    }
        a {
            font-size: 1.5rem;
        }
}

.seccion-tres {
    margin-top: 5%;
    margin-bottom: 5%;
    h2{
    font-size: 3rem;
    margin-bottom: 5%;
    @media (max-width: 480px) {
        font-size: 2rem;
    }
    }
}

.seccion-tres__span {
    font-size: 5rem;
    border-style: dotted;
    border-width: 10px;
    padding: 2%;
    @media (max-width: 480px) {
        font-size: 3rem;
        padding: 4%;
    }
}

.seccion-tres__centrado {
    @include centrado;
    @include container;
    @media (max-width: 480px) {
        margin-top: -20%;
    }
}

.seccion-cuatro {
    @include container;
    margin-top: 10%;
    margin-bottom: 10%;
    @media (max-width: 480px) {
        margin-top: -40px;
        margin-bottom: 10%;
    }
        h3{
        text-align: center;
        font-size: 2rem;
        margin-bottom: 5%;
        @media (max-width: 480px) {
            font-size: 1.5rem;
        }
    }
}